<div class="jumbotron">
  <h1><i class="fa fa-check-circle-o"></i> Simply get things done.</h1>
  <p>Create to-dos, track what you're doing, and get things done.</p>
  <%= link_to "Create Your Free Account", new_user_registration_path, class:"btn btn-primary btn-lg" %>

</div>