<div class="jumbotron">
  <h1>Simply get things done.</h1>
  <p>Create to-dos, track what you're doing, and get things done.</p>
  <%= link_to "Create Your Free Account","#", class:"btn btn-primary btn-lg" %>

</div>